@model IEnumerable<Spice.Models.Coupon>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="withBachgroud border">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Coupons List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="_createButtanPattal" />
        </div>

        <div class="col-12">
            @if (Model.Count() == 0)
            {
            <p class="text-danger">no Coupons....</p>
            }
            else
            {
                <table class="table table-striped border">
                    <tr class="table-secondary">
                        <th>
                            @Html.DisplayNameFor(m => m.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.Discount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.MinimumAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.CoubonType)
                        </th>

                        <th>
                            @Html.DisplayNameFor(m => m.IsActive)
                        </th>
                        <th>

                        </th>
                    </tr>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.MinimumAmount)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.CoubonType)
                    </td>
                   
                    <td>
                        @Html.DisplayFor(m => item.IsActive)
                    </td>
                    <td style="width:150px">
                        <partial name="_opratingButtanPattail" model="item.Id" />

                    </td>
                </tr>
                    }
                </table>
            }
        </div>
    </div>
</div>